.App {
  text-align: center;
}

/* ======// Custom font //====== */

@font-face {
  font-family: Montserrat;
  src: url("/public/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("/public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("/public/fonts//Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("/public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

/* ======// Custom font //====== */

.todo-card {
  transition: all 0.2s ease-in-out !important;
  transform: scale(0.99);
}

.todo-card:hover {
  transform: scale(1);
}
